* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li:not(:last-child) {
  margin-right: 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
}

h2 {
  margin-bottom: 1rem;
}

form label {
  display: block;
  margin-bottom: 0.5rem;
}

form input,
form textarea {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

img {
  
  width: 30%;
  height: 30%;
  float: left;
  margin-right: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 20px;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 200px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px #ccc;
  border-radius: 10px;
}

.project h3 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.project p {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
}